body {
  background-image: url("../images/concrete-texture.png");
}

.navbar {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #777777;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
}

.navbar-brand {
  font-weight: bold;
  background: #4aaaa5;
  text-align: center;
  padding: 25px;
  margin: 0;
}

#logo {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  margin-left: 5%;
  font-size: 20px;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

.links {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  margin-right: 15%;
  color: #4aaaa5;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav {
  border: 1px solid #4aaaa5;
}

h2 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 20px;
  font-weight: bold;
}

.main-content {
  border-style: solid;
  border-color: #dddddd;
  border-width: 2px;
  box-sizing: border-box;
  padding: 25px;
  background: #ffffff;
  margin: 5px;
}

.connect {
  border-style: solid;
  border-color: #dddddd;
  border-width: 2px;
  box-sizing: border-box;
  padding: 25px;
  background: #ffffff;
  justify-content: center;
  margin: 5px;
  height: 50%;
}

.row {
  /* display: flex; */
  /* justify-content: space-around; */
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#profilePic {
  float: left;
  margin-right: 15px;
}

.bio {
    line-height: 150%;
    color: #777777;
  }

  #github, #linkedin, #stackoverflow {
    float: left;
  }

  .footer {
    margin-top: 15px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    color: #4aaaa5;
    background-color: #666666;
    text-align: center;
    padding: 25px;
  }

#hangman, #cloud, #trivia, #rutgers, #RPS {
  height: 200px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
}


textarea {
  width: 100%;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}

button[type=submit] {
  width: 20%;
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

label {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}
